/* body {
    background-color: grey;
} */

/* main {
    background-color: white;
} */

footer {
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 20px 0 20px 0;
    width: 100%;
    font-size: 15px;
}

a {
    color: grey;
}

a:hover {
    color: grey;
}
pre {
    background: #F0F0F0;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin: 2em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.language-plaintext pre{
    background: white;
    border: 1px solid white;
    border-left: 3px solid royalblue;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin: 2em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

main img {
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin-bottom: 2em;
    margin-top: 1em;
    border: 2px solid grey;
}