<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/highlight/styles/default.css" | relative_url }}"> 
      <script src="{{ "/assets/highlight/highlight.pack.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/sidenav.js" | relative_url }}"></script>
      <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    {% include navbar.html %} 
    <div class="jumbotron text-white rounded bg-dark">
      <div class="col-md-0 px-0">
        <h1 class="display-3 font-bold text-center">{{ page.title }}</h1>
        <!-- <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
      </div>
    </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main text-left">
            {{ content }}
        </div>
        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 sticky-top float-right">
            <h4 class="font-italic">Navegação</h4>
            <ol id="blogSideBarContent" class="list-unstyled mb-0">
            </ol>
          </div>
        </aside>
      </div>
    </main>
    {% include footer.html %}
  </body>
  <script>sideNavbar();</script>
</html>